{% extends 'home/base.html' %}{% load static %}

{% block corps %}
<!-- Header -->
<header class="masthead">
  <div class="container" id="dashboard">
    <div class="intro-text">
      <div class="intro-lead-in intro-heading">Bienvenue {{ user.get_username }}!</div>
      <!-- <div class="intro-heading text-uppercase">It's Nice To Meet You</div> -->
      <!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a> -->
    </div>
    <div class="dashboard">
      <h3>Dashboard</h3>
      {% for people in admin_dash %}
      <div class="admin_board">
        <p> Gestionnaire : {{ people.user.first_name }} {{ people.user.last_name }} </p>
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              {% for house in people.administrator_property.all %}
              <div class="col-lg-6 property_board">
                <a href="{% url 'admin:rental_property_change' house.id %}" >
                  <h5> {{house.name}} </h5>
                </a>
                <p>Locataires</p>
                {% for person in house.property_rental.all %}
                <div class="occupant_name">
                  {% load admin_urls %}
                  <a href="{% url 'admin:occupant_occupant_change' person.occupant.id %}" >
                    {{person.occupant}}
                  </a>
                </div>
                {% endfor %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <a href="admin/">
          <div class="btn btn-primary btn-xl">
            Gérer
          </div>
        </a>
      {% empty %}
      <p> Vous n'avez pas encore de propriétés </p>
      </div>
    {% endfor %}
    </div>
  </div>
</header>

<!-- Services -->
<section class="page-section" id="gestion">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Gérer les locations</h2>
        <h3 class="section-subheading text-muted">Ajouter de nouveaux éléments pour gérer vos locations</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-user-plus fa-stack-1x fa-inverse"></i>
        </span>
        <a href="{% url 'admin:occupant_occupant_add' %}" >
          <div class="btn btn-primary btn-xl">
            Nouveau locataire
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-home fa-stack-1x fa-inverse"></i>
        </span>
        <a href="{% url 'admin:rental_property_add' %}" >
          <div class="btn btn-primary btn-xl">
            Nouvelle propriété
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-euro-sign fa-stack-1x fa-inverse"></i>
        </span>
        <a href="{% url 'admin:quittance_quittance_changelist' %}" >
          <div class="btn btn-primary btn-xl">
            Quittances de loyer
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="far fa-address-card fa-stack-1x fa-inverse"></i>
        </span>
        <a href="{% url 'admin:rental_rental_add' %}" >
          <div class="btn btn-primary btn-xl">
            Nouvelle location
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
